body {
  background: url("background.jpg") no-repeat center center fixed;
  background-size: 100%;
}

#title {
  text-align: center;
}

#target-number {
  width: 100px;
  height: 100px;
  text-align: center;
  margin-bottom: 2px;
  margin: auto;
  border-top: black solid 3px;
  border-left: black solid 3px;
  border-right: black solid 3px;
}
#random-number {
  font-size: 40px;
}

#your-total {
  border: black solid 3px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  border: black solid 3px;
  margin-bottom: 30px;
}
#score {
  font-size: 40px;
}

#win-title {
  border-top: black solid 3px;
  border-left: black solid 3px;
  border-right: black solid 3px;
  width: 100px;
  height: 100px;
  text-align: center;

  margin: auto;
}

#wins {
  font-size: 40px;
}

#lose-title {
  border: black solid 3px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
}

#losses {
  font-size: 40px;
}

img {
  padding: 20px;
  height: 100px;
  width: 100px;
  margin: auto;
}
#pictures {
  margin: auto;
  width: 212px;
  margin-bottom: 30px;
}
